:javascript
  $(document).ready(function() {
    
    $('form#new_article').labelsWithinFields()
    
    $.each(["citation_author", "citation_source"], function(i, field_name) {
      $('#article_'+ field_name).autocomplete("#{suggest_project_articles_path(@project)}", {
        extraParams: {field: field_name},
        minChars: 3
      })
    })

    $('#new_article #article_tag_list').autocomplete("#{suggest_project_articles_path(@project)}", {
      extraParams: {field: 'tags'},
      multiple: true,
      multipleSeparator: ", ",
      minChars: 3
    })
    
  })

%h1 New research Feed
= render :partial => "form", :locals => {:article => article}
