span.match
  background-color: #ffa

#articles
  .container
    padding-bottom: 10px
  .source
    background-color: #F7F7F7
    color: #8F898A
    padding-bottom: 1px
    margin-top: 10px
    font-size: 1em
  .article
    > .left
      width: 70%
    padding: 2px
    .author
      margin-right: 10px
      img
        width: 20px
        height: 20px
    .title
      font-size: 1em
      padding-left: 10px
      .type
        color: #aaa
    .right
      color: #575455
      font-size: 1em
      text-align: right
    .content
      padding: 10px

.tags
  #article_tag_list
    width: 60%

#search_form
  #advanced_search
    input[type=text]
      width: 60%
    input[type=text]#search_citation_date
      width: 100px
    
#simple_search
  input#search
    height: 18px
    background: url(../images/search.png) white no-repeat 2px 2px
    padding-left: 20px
    border: 1px solid #aaa
  &.loading
    background: url("../images/spinner.gif") left top no-repeat

#attachments
  .attachment
    border: 2px solid #eee
    margin: 5px 0px
    padding: 5px
    +border-radius("4px")