#expenses
  padding-top: 10px
  .header
    background-color: #eee
  .expense, .header
    .expense-description
      float: left
    .expense-amounts
      float: left
      width: 100px
    .expense-date
      float: left
      width: 100px
    .expense-actions
      float: right
      width: 20px
  .expense
    .expenselogs
      .expenselog
        float: right
        .expenselog-amounts
          float: left
          width: 100px
        .expenselog-date
          float: left
          width: 100px
        .expenselog-actions
          float: right
          width: 20px
#new_expenselog
  #expenselog_expense_description
    width: 250px