#timesheets
  padding-top: 10px
  .header
    background-color: #eee
  .timesheet, .header
    .timesheet-description
      float: left
    .timesheet-hours
      float: left
      width: 100px
    .timesheet-date
      float: left
      width: 100px
    .timesheet-actions
      float: right
      width: 20px
  .timesheet
    .timelogs
      .timelog
        float: right
        .timelog-hours
          float: left
          width: 100px
        .timelog-date
          float: left
          width: 100px
        .timelog-actions
          float: right
          width: 20px
#new_timelog
  #timelog_timesheet_description
    width: 250px