:javascript
  $(document).ready(function() {
    $('#event_repeat_frequency').change(function() {
      $('fieldset.repeat_until').toggle(this.value != '');
      $('#event_on_wdays_input').toggle(this.value == 'Week')
    })
    
    $('#event_repeat_until').change(function() {
      $('#event_repeat_until_date_input').hide();
      $('#event_repeat_until_date_input select').attr('disabled', 'disabled');
      $('#event_repeat_until_count_input').hide();
      $('#event_repeat_until_count').attr('disabled', 'disabled');
      if (this.value == "date") {
        $('#event_repeat_until_date_input').show();
        $('#event_repeat_until_date_input select').removeAttr('disabled');
      }
      if (this.value == "count") {
        $('#event_repeat_until_count_input').show();
        $('#event_repeat_until_count').removeAttr('disabled');
      }
    })
    
    $('#event_repeat_frequency').change();
    $('#event_repeat_until').change();
  })
