.gray
  Upcoming Events
%br  
#upcoming
  %table.ec-row-table
    %tr
      - (Time.now.to_date..(Time.now+5.days).to_date).each_with_index do |date, i|
        %td.ec-event-cell
          .dayname
            = (i == 0)? "Today" : date.strftime("%a").to_s() + " (" + date.strftime("%d") + ")"
          - events.each do |event|
            - if event.start_at.to_date == date || event.end_at.to_date == date
              %p
                = link_to event.upcomingheader, [event.calendar.calendarable, event]