:javascript
  wmd_options = {
    output: "Markdown"
  }

= javascript_include_tag "wmd/wmd"

- semantic_form_for [@project, @wiki_page] do |f|
  - f.inputs do
    = f.text_field :title
    = f.text_area :content, :rows => 70, :cols => 500
  - f.buttons do
    = f.commit_button "Update"
