%h1
  Tips
.gray  
  CoEdits uses simple, easy-to-write codes to format your text. Type the codes in your text and you will see the results after clicking Save.
  %br
  %br
  **bold** -> <b>bold</b>
  %br
  *italic* -> <i>italic</i>
