%h1 My Projects
.projects
  - user.my_projects_with_roles.each do |role|
    .project{:class => (@project && @project == role.project) ? "current": ""}
      = link_to role.project.to_s(), role.project   
      
%br
= link_to "Create New Project", new_project_path        