%h1 My Active Projects
.projects
  - user.my_projects_with_roles.each do |role|
    - if !role.project.is_archieved?
      .project{:class => (@project && @project == role.project) ? "current": ""}
        = link_to role.project.to_s(), role.project