- semantic_form_for [@calendarable, calendar], :html => {:class => "stack"} do |f|
  - f.inputs do
    = f.input :url, :label => "iCal URL"
  - f.buttons do
    = f.commit_button "Import calendar"

