:javascript
  $(document).ready(function() {
    $('#donotlearnmorelinke').click(function() {
      $('#learnmoree').show();
      $('#dontlearnmoree').hide();
      return false;
    })
    
    $('#learnmorelinke').click(function() {
      $('#learnmoree').hide();
      $('#dontlearnmoree').show();
      return false;
    })
  })

%br
%br
%h1 Export in CSV format
#dontlearnmoree
  %small_text
    .right
      =link_to "Learn More", "#", :id => :donotlearnmorelinke
#learnmoree{:style => "display:none" }
  .gray
    Timesheets when exported will be saved in a file called timesheets.csv. This file can then be opened in a spreadsheet program (e.g. Microsoft Excel).
    %br
    %small_text
      .right
        =link_to "Hide", "#", :id => :learnmorelinke
%br
= link_to 'Export tasks', :controller => 'timesheets', :action=> 'export_csv', :popup => :true