.header
  .timesheet-description
    Description
  .right
    .timesheet-hours
      Hours
    .timesheet-user
      User
    .timesheet-date
      Date
    .timesheet-actions
      &nbsp;
  .clear
= render timesheets.all
