%h2 
  .gray
    Timesheets for #{@timesheet_user}
%br
.header
  .timesheet-description
    Description
  .right
    .timesheet-hours
      Hours
    .timesheet-date
      Date
    .timesheet-actions
      &nbsp;
  .clear
= render timesheets.all
