%h1 File Storage Space
.gray
  %i
    Note: Disk usage measures size of files in snippets and file center.
%br
=@comp
=@notcomp
.gray
  = @cusage.truncate
  MB consumed of
  = @totalavail
  MB