- if @project && !@project.new_record?
  = image_tag("rails.png")#@project.project_logo.image.url(:medium))
%br
.home{:class => (request.fullpath == root_path || (current_user && request.fullpath == polymorphic_path(current_user))) ? "current" : nil}
  = link_to "Homepage", root_path